<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="Good Point Guard" content="width=device-width" />
    <meta name="Basketball" />
    <title>How To Be An Effective Point Guard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
